<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="https://cdn.webrtc.ecl.ntt.com/skyway-latest.js"></script>
  <title>SkyWay Tutorial</title>
</head>
<body>

<div class="container">
    <!--<div class="header">-->
    <!--    <p class="header_heading">Mal-portal (Demo)</p>-->
    <!--</div>-->

    <div class='body-container'>

        <div class="Row">
            <div class="Column">
            <div class="block_logo">
                <a class="logo">
          <img src="/assets/img/mal_rgb.png" alt="Mal-portal (Demo)" width="180" height="75">
        </a>
            </div>
            </div>
            <div class="Column">
                <video id="my-video" class="my-video" autoplay muted playsinline></video>
            </div>
        </div>

        <div  class="their-video-flex">
            <div  class="extra-space">
        </div>
          <video id="their-video" class="their-video" autoplay playsinline></video>

        <div  class="extra-space">
            <button id="muted" class="muteBtn" [style.visibility]="isMuteBtnHidden ? 'hidden': 'visible'" (click)="muted($event)"><img id="mute-img" src="/assets/img/{{muteBtnName}}"/></button>
            <!--<div id="muted"></div>-->
        </div>
        </div>

        <p id="my-id">Your ID: {{myID}} </p>
        <input type="text" id="their-id" [(ngModel)]="theirID" [disabled]="isTheirIDDisabled" class='inputTextBox' (change)="onChangeEvent($event)" placeholder="Partner's PeerID">
        <div class='BottomRow'>
        <button id="start-vid" class='startCallBtn' [disabled]="isStartCallBtnDisable"
        [style.background-color]="isStartCallBtnDisable ? 'gray': 'green'"  (click)="onBtnClickMakeCall($event)">Call</button>
        <button id="share-scr" class='shareScrBtn' [disabled]="isShareBtnDisable"
        [style.background-color]="isShareBtnDisable ? 'gray': 'springgreen'" (click)="onBtnClickShareScr($event)">Share Screen</button>
        <button id="stop-vid" class='stopCallBtn' [style.visibility]="isEndBtnHidden ? 'hidden': 'visible'" [disabled]="isEndBtnHidden"
        [style.background-color]="isEndBtnHidden ? 'gray': 'red'" (click)="onBtnClickEnd($event)">End</button>
        </div>
    </div>
</div>

</body>
</html>
